- if user_signed_in?
  = link_to "トップへ", root_path
  - if current_user.admin
    = link_to t('.admin'), admin_index_path, class: 'nav-link'
  = link_to t('.mypage'), user_path(current_user), class: 'navbar__user-pull-item'
  = link_to t('.setting'), edit_user_registration_path, class: 'navbar__user-pull-item'
  = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'navbar__user-pull-item'
