.devise
  .devise__container.user-edit
    %h1
      申請承認

    = link_to "フレンド申請", new_friend_request_path
    = link_to "申請一覧", friend_requests_path
    %br

    - if @users.empty?
      = "申請者はいません。"
    - else
      %table
        %thead
          %tr
            %th.col-7
              名前
            %th.col-7
              学科
            %th.col-7
              申請
            %th.col-7
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.applicant.name
              %td
                = user.applicant.department.name
              %td
                = form_with(model: @friend, url: friends_path, local: true) do |f|
                  - if f.object.errors.any?
                    .alert-warning
                      %ul
                        - f.object.errors.full_messages.each do |message|
                          %li
                          = message
                  = f.hidden_field :request_id, value: user.id
                  = f.hidden_field :user_id, value: user.user_id
                  = f.hidden_field :friend_id, value: user.applicant_id
                  .form-group
                    = f.submit "承認", class: 'btn btn-success'
                %td
                  = link_to '拒否', friend_request_path(user.id), method: :delete, data: {confirm: '申請を拒否しますか？'}, class: 'btn btn-danger'