!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KdWorld
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      = link_to "トップへ", root_path
      - if current_user.admin
        = link_to t('.admin'), admin_index_path, class: 'nav-link'
      = link_to t('.mypage'), user_path(current_user), class: 'navbar__user-pull-item'
      = link_to t('.setting'), edit_user_registration_path, class: 'navbar__user-pull-item'
      = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'navbar__user-pull-item'

    = render partial: 'shared/flash_message'
    %main
      = yield