.form
  = form_with(model: @user, url: registration_path(resource_name), id: 'new_user', class: 'new_user', local: true) do |f|
    = render "users/shared/error_messages", resource: resource
    .text-input
      = f.label :name
      = f.text_field :name, autocomplete: "name", placeholder: "Name"
    .text-input
      = f.label :email
      = f.email_field :email, autocomplete: "email", placeholder: "Email"
    .aaaa
      = f.label :department
      = f.collection_select :department_id, @departments, :id, :name, {include_blank: "選択してください"}
    .text-input
      = f.label :password
      - if @minimum_password_length
        %em.white-text
          (#{@minimum_password_length} 文字以上)
      = f.password_field :password, autocomplete: "new-password", placeholder: "NewPassword", required: true
    .text-input
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "NewPassword", required: true
    .text-input
      = f.submit t('.sign_up'), class: "form-bottom"
= render "users/shared/links"
